@mixin light-theme {
  --color-bg: #fff;
  --color-bg-2: #e8eef1;
  --color-text: hsl(255, 11%, 22%);
}

@mixin dark-theme {
  --color-bg: #4f4557;
  --color-bg-2: #393646;
  --color-text: #f4eee0;
}
