@import '@styles/base';

// * {
//   padding: 0;
//   margin: 0;
// }

.container {
  //   width: 100vh;
  //   padding: 0px 25px 0px 25px;
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sort_static {
    background-color: #f0f0f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .BannerBtmComp {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
