// Add your base imports here
@import '@styles/base';

// Normal Navbar Styles
.headerWrapper {
  background-color: var(--color-bg) !important;
  box-shadow: none !important;

  .contentWrapper {
    @include directionX;
    color: var(--color-text);
    padding: 10px 5rem 10px 5rem;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;

    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      margin-bottom: 2px;
    }

    .menu_toggle {
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    .logoImage {
      @include directionX;
      cursor: pointer;
      align-items: center;
      gap: 20px;

      .logo {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
      }

      .title {
        font-weight: 700;
        font-size: 28px;
      }

      .box_link {
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 20px;
        font-weight: 700;
        font-size: medium;

        .link {
          color: #35323ea8;
        }
        .link:hover {
          color: #35323e;
        }

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }

    .utils_navbar {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .toolbar {
      @include directionX;

      .theme {
        @include directionX;
        align-items: center;
        margin-right: 0.5rem;
        cursor: pointer;
      }

      .box_auth {
        @include directionX;
        align-items: center;
        gap: 0.5rem;
        padding: 10px;

        .signUp {
          color: $color-white;
          background-color: $color-cyan;
          font-weight: 700;
          padding: 10px 20px 10px 20px;
          border: none;
          border-radius: 25px;
        }

        .login {
          background-color: transparent;
          border: 2px solid transparent;
          font-weight: 800;
          padding: 8px 20px 8px 20px;
          border-radius: 25px;

          &:hover {
            border: 2px solid $color-cyan;
          }
        }
      }

      .toggle {
        @include directionX;
        align-items: center;
        cursor: pointer;

        .avatar {
          width: 1rem;
          height: 1rem;
          margin-right: 0.5rem;
        }

        .lang {
          font-family: Poppins, Arial, Helvetica, sans-serif;
          font-weight: 700;
          font-size: 1rem;
          text-transform: uppercase;
        }

        .arrow {
          font-size: 1rem;
        }
      }
    }
  }
}

// Mobile Navbar Styles with Animation
.headerWrapperMobile {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 10;
  top: 10;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media screen and (max-width: 768px) {
    display: flex;
  }

  &.mobileNavbarEnterActive {
    animation: mobileNavbarEnter 1s ease forwards;
  }

  &.mobileNavbarExitActive {
    animation: mobileNavbarExit 1s ease forwards;
  }

  @media screen and (max-width: 768px) {
    display: flex;

    .contentWrapperMobile {
      display: none;
      width: 80%;
      border-radius: 10px;
      gap: 1rem;
      background-color: $color-dark-violet !important;

      @media screen and (max-width: 768px) {
        display: block;
      }

      .menu_link_mobile {
        gap: 1rem;
        color: $color-white;
        border-bottom: 1px solid $color-white-fade;
        padding: 5px;

        div {
          font-weight: 800;
          padding: 16px;

          &:hover {
            color: $color-cyan;
          }
        }
        .toggle {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .login_signup_mobile {
        justify-content: center;
        padding: 1rem;
        font-weight: 800;
        div {
          padding: 1rem;
        }

        .login {
          background-color: transparent;
          border: none;
          font-size: 18px;
          font-weight: 800;
          color: $color-white;
        }
        .signUp {
          color: $color-white;
          background-color: $color-cyan;
          border: none;
          width: 100%;
          padding: 10px 30px 10px 30px;
          font-weight: 800;
          font-size: 17px;
          border-radius: 25px;
        }
      }
    }
  }
}
.menu {
  @include directionX;
  align-items: center;

  .menuAvatar {
    width: 1.2rem;
    height: 1.2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 0.5rem;
  }

  .menuLang {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
  }
}

// Mobile Navbar Animation
@keyframes mobileNavbarEnter {
  from {
    opacity: 0;
    transform: translateY(-180%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes mobileNavbarExit {
  from {
    opacity: 1;
    transform: translateY(0%);
  }

  to {
    opacity: 0;
    transform: translateY(-180%);
  }
}

.mobileNavbarEnter {
  animation: mobileNavbarEnter 1s ease forwards;
}

.mobileNavbarExit {
  animation: mobileNavbarExit 1s ease forwards;
}
