@import '@styles/base';

.container {
  width: 100%;
  height: 100%;
  .content {
    width: 100%;
    height: 100%;
    .box_text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      padding: 3.5rem;
      .title {
        font-weight: 700;
        font-size: 36px;
      }
      .text {
        color: $color-grayish-violet;
        font-weight: 600;
        font-size: 16px;
        width: 35%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
  .box_card {
    padding: 5rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    @media screen and (max-width: 768px) {
      display: grid;
      gap: 1rem;
    }
    .card1 {
      position: relative;
      top: -35px;
    }
    .card2 {
      position: relative;
      display: flex;
      z-index: 2;

      &::before,
      &::after {
        content: '';
        position: absolute;
        bottom: 50%;
        width: 50%;
        height: 10px;
        background-color: $color-cyan;
        z-index: -1;
      }

      &::before {
        left: -50%;
      }

      &::after {
        right: -50%;
      }

      @media screen and (max-width: 768px) {
        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 10px;
          height: 50%;
          background-color: $color-cyan;
          z-index: -1;
        }

        &::before {
          top: -50%; /* Line on the top side */
          left: 50%; /* Center the line horizontally */
          transform: translateX(-50%); /* Move the line to the center */
        }

        &::after {
          bottom: -50%; /* Line on the bottom side */
          left: 50%; /* Center the line horizontally */
          transform: translateX(-50%); /* Move the line to the center */
        }
      }
    }
    // ===
    .card3 {
      position: relative;
      bottom: -35px;
    }
  }
}

.card {
  z-index: 5;
  width: 30%;
  border-radius: 10px;
  height: auto;
  background: $color-white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .card_img {
    padding: 10px;
    width: 50px;
    height: 50px;
    z-index: 3;
    left: 1rem;
    top: -30px;
    position: absolute;
    background-color: $color-dark-violet;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      width: 35px;
      height: 35px;
    }

    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      top: -30px;
      left: auto;
    }
  }
  .card_content {
    padding: 4rem 1.5rem 1rem 1.5rem;
    .card_title {
      font-weight: 600;
      font-size: 24px;
    }
    .card_text {
      padding: 10px 0 10px 0;
      font-weight: 600;
      font-size: 16px;
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 250px;
    min-height: 250px;
  }
}
