@import '@styles/base';

.container {
  width: 100%;
  height: 100%;
  .content {
    height: 150px;
    width: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('/src/static/images/images/bg-boost-desktop.svg') $color-dark-violet;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // @media screen and (max-width: 768px) {
    //   height: ;
    // }
    gap: 10px;
    .text {
      color: $color-white;
      font-weight: 600;
      font-size: xx-large;
      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
        text-align: center;
      }
    }
    .button {
      color: $color-white;
      background-color: $color-cyan;
      padding: 12px 25px 12px 25px;
      border: none;
      font-size: medium;
      font-weight: 700;
      border-radius: 25px;
    }
  }
}
