@import '@styles/base';

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  .content {
    padding: 5.5rem;
    @media screen and (max-width: 768px) {
      padding: 0rem;
    }
  }
  .banner {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      display: grid;
      .banner_right {
        grid-row: 2;
      }
      .grid_left {
        grid-row: 1;
        width: auto;
      }
    }
    .banner_right {
      width: 50%;
      // min-width: 350px;
      color: var($color-very-dark-blue);
      .title {
        width: auto;
        font-weight: 800;
        font-size: 3rem;
        word-spacing: -2px;
        @media screen and (max-width: 768px) {
          font-size: 2rem;
          font-weight: 600;
          word-spacing: 0;
          text-align: center;
          justify-content: center;
          align-items: center;
          padding: 1rem;
        }
      }
      .text {
        font-weight: 500;
        @media screen and (max-width: 768px) {
          width: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1rem;
          font-size: small;
        }
      }
      .box_btn {
        padding: 1rem 0 1rem 0;
        .button {
          border: none;
          border-radius: 2rem;
          color: white;
          font-weight: 600;
          font-size: medium;
          background: $color-cyan;
          padding: 12px 25px 12px 25px;
        }
        .button:hover {
          background: $color-dark-blue;
          cursor: pointer;
        }
      }
      @media screen and (max-width: 768px) {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20%;
      }
    }
    .banner_left {
      width: 40%;
      @media screen and (max-width: 768px) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        max-width: 500px;
        width: auto;
        @media screen and (max-width: 768px) {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 270px;
        }
      }
    }
  }
}
