@import '@styles/base';

.container {
  width: 100%;
  height: 100%;
  color: $color-white;
  background-color: $color-very-dark-blue;
  padding: 2rem 0px 2rem 0px;
  .content {
    display: flex;
    justify-content: space-evenly;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 1rem;
    }
    .logo {
      position: relative;
      top: 0;
    }
    .title {
      padding-bottom: 1rem;
      font-weight: 700;
      font-size: medium;
    }
    p {
      font-weight: 300;
      font-size: medium;
    }
    .medsos {
      display: flex;
      gap: 20px;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
