@import '@styles/base';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .content {
    position: relative;
    top: -50px;
    background: url('src/static/images/images/bg-boost-desktop.svg') $color-dark-violet;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    border-radius: 10px;
    height: auto;

    @media screen and (max-width: 768px) {
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    .box_sorting {
      gap: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 2rem;

      @media screen and (max-width: 768px) {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 15px;
      }

      .errorHandle {
        display: grid;
        width: 85%;
        height: auto;
        position: relative;
        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        .errorInput {
          padding: 10px 5px 10px 5px;
          width: 99%;
          height: 30px;
          font-weight: 600;
          font-size: 14px;
          border: 2px solid red;
          border-radius: 5px;
        }

        .input {
          padding: 10px 5px 10px 5px;
          width: 99%;
          height: 30px;
          font-weight: 600;
          font-size: 14px;
          border: 1px solid white;
          border-radius: 5px;
          @media screen and (max-width: 768px) {
            width: 95%;
            height: 30px;
            padding: auto;
          }
        }
        .errorMobile {
          display: none;
          color: red;
          font-size: 16px;
          @media screen and (max-width: 1024px) {
            display: block;
          }
        }
      }

      .error {
        color: red;
        font-size: 16px;
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
      .button {
        color: $color-white;
        border: none;
        border-radius: 5px;
        background-color: $color-cyan;
        font-weight: 600;
        font-size: 16px;
        padding: 15px 25px 15px 25px;

        @media screen and (max-width: 768px) {
          width: 100%;
          padding: auto;
        }
      }
      .button:active {
        background-color: rgb(120, 255, 255);
      }
    }
  }
  .box_sorted {
    position: relative;
    top: -50px;
    background-color: $color-white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    height: 50px;
    margin: 10px;

    @media screen and (max-width: 768px) {
      width: 85%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .result_link {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .ori_link {
        width: 50%;
        height: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media screen and (max-width: 768px) {
          width: 100%;
          padding: 10px 10px 10px 10px;
          border-bottom: 1.5px solid $color-grayish-violet;
        }
      }
      .box_link_btn {
        gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 768px) {
          display: flex;
          width: 100%;
          flex-direction: column;
        }
        .short_link {
          color: $color-cyan;
        }
        .button {
          font-weight: 600;
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          color: $color-white;
          background-color: $color-cyan;
          border-radius: 5px;
          padding: 10px 28px 10px 28px;
          @media screen and (max-width: 768px) {
            width: 100%;
            padding: auto;
          }
        }

        .button:hover {
          background-color: rgb(120, 255, 255);
        }

        .copyButtonCopied {
          align-items: center;
          justify-content: center;
          background-color: #3b3153;
          color: white;
        }
        .copyButtonCopied:hover {
          background-color: #3b3153;
        }

        .deleteButton {
          font-weight: 600;
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          color: $color-white;
          background-color: #e7092c;
          border-radius: 5px;
          padding: 10px 28px 10px 28px;
          @media screen and (max-width: 768px) {
            width: 100%;
            padding: auto;
          }
        }
        .deleteButton:hover {
          background-color: #ff4460;
        }
      }
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 18px;
  height: 18px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-left: 8px;
}
